<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- PHẢI để configSections ở ngay đầu tiên -->
	<configSections>
		<!-- Entity Framework config section -->
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="BanVeGaSaiGonEntities"
			 connectionString="metadata=res://*/TicketSalesModel.csdl|res://*/TicketSalesModel.ssdl|res://*/TicketSalesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAM-LAPTOP;initial catalog=BanVeGaSaiGon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework"
								  publicKeyToken="b77a5c561934e089"
								  culture="neutral" />
				<!-- Gợi ý dùng EF 6.x, là phổ biến nhất cho WinForms & EDMX -->
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0"
								 newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
